/* Add styling for your page here */

.App {
    display: flex;
    justify-content: space-around;
}

.BakeryItem {
  
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
img{
    width:200px;
}